@model Esmeraldaplus.Core.Domain.Inventario

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Fomularios.cshtml";
}
@section Formularios {
    <link rel="stylesheet" href="../css/create_inventary.css">
}

<h1>Crear Producto</h1>
<form action="" method="post" onsubmit="return validar()">
    <div class="contenido">
        <label asp-for="IdInventario" class="control-label">Id</label>
        <input asp-for="IdInventario" class="form-control" />
        <span asp-validation-for="IdInventario" class="text-danger"></span>

        <label asp-for="FechaIngresoProducto" class="control-label">Fecha de Ingreso de Producto</label>
        <input asp-for="FechaIngresoProducto" class="form-control" id="fechaproducto">
        <span asp-validation-for="FechaIngresoProducto" class="text-danger"></span>

        <label asp-for="CantidadProducto" class="control-label">Cantidad de Producto</label>
        <input asp-for="CantidadProducto" class="form-control" type="number" / id="cantidadproducto">
        <span asp-validation-for="CantidadProducto" class="text-danger"></span>

        <label asp-for="IdDelProducto" class="control-label">Id de Producto</label>
        <select asp-for="IdDelProducto" class="form-control" asp-items="ViewBag.IdDelProducto" id="productoid" required="">
        </select>
        <label asp-for="CantidadInsumo" class="control-label">Cantidad de Insumos</label>
        <input asp-for="CantidadInsumo" class="form-control" type="number" / id="cantidadinsumos">
        <span asp-validation-for="CantidadInsumo" class="text-danger"></span>

        <label asp-for="IdInsumos" class="control-label">Id de Insumos</label>
        <select asp-for="IdInsumos" class="form-control" asp-items="ViewBag.IdInsumos" id="insumosid" required="">
        </select>
        <label asp-for="FechaIngresoInsumos" class="control-label">Fecha de Ingreso de Insumo</label>
        <input asp-for="FechaIngresoInsumos" class="form-control" id="fechainsumo">
        <span asp-validation-for="FechaIngresoInsumos" class="text-danger"></span>

        <input type="submit" value="Agregar" class="btn btn-primary" id="btn-crear" />
        <a asp-area="" asp-controller="Inventario" asp-action="Index" class="back">Volver a la lista</a>
    </div>
</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="../js/create_uptadete_inventary.js"></script>
}





