@{
    ViewData["Title"] = "Catalogo1";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section Vista_Genelar {
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/products.css">
}


<nav>
    <ul>

        <li><a asp-area="" asp-controller="Home" asp-action="Index1">Inicio</a></li>
        <li><a asp-area="" asp-controller="Productos" asp-action="Catalogo1">Productos</a></li>
        <li><a asp-area="" asp-controller="QuienesSomos" asp-action="Index1">Quienes Somos</a></li>
        <li><a asp-area="" asp-controller="Contactenos" asp-action="Index1">Contactenos</a></li>
    </ul>
</nav>

<div class="menu">
    <span class="icon-menu"> Menu</span>
</div>


<div class="container">
    <div class="objets">
        <div class="user">
            <img src="../image/alcoholes.jpg" alt="">
            <p>ALCOHOL ANTISÉPTICO se utiliza para la desinfección de la piel, utensilios, equipo y material de laboratorio. De uso directo. (Sirve también en la antisepsia cutánea). Útil para la desinfección en clínicas, hospitales, instituciones, industrias alimenticias, agroindustrias, etc.</p>
            <a asp-area="" asp-controller="InfoProducto" asp-action="Producto2">Comprar</a>

        </div>
        <div class="user">
            <img src="../image/trajes.jpg" alt="">
            <p>Los trajes antifluidos poseen gran resistencia al rasgado, frote y deslizamiento en superficies, es completamente reutilizable de una sola pieza con capucha y cremallera frontal, rápido secado, fácil cuidado, y viene equipado con costuras de seguridad que evitan la exposición a sustancias, líquidos, partículas o virus </p>
            <a asp-area="" asp-controller="InfoProducto" asp-action="Producto1">Comprar</a>

        </div>
        <div class="user">
            <img src="../image/jabones.jpg" alt="">
            <p>Este tipo de jabón contiene ingredientes antimicrobianos cuya función principal es controlar la contaminación por microorganismos, trayendo consigo la prevención de enfermedades como infecciones de piel y gastrointestinales, entre otras.</p>
            <a asp-area="" asp-controller="InfoProducto" asp-action="Producto3">Comprar</a>

        </div>

        <div class="user">
            <img src="../image/geles.jpg" alt="">
            <p>Gel antimaterial o alcohol en Gel presenta la manera más práctica de mantener una higiene a cualquier hora del día y en cualquier lugar. ... Mata gérmenes comunes sin agua o toalla, es un gel formulado para proporcionar una especial acción descontaminante y desinfectante sobre superficies.</p>
            <a asp-area="" asp-controller="InfoProducto" asp-action="Producto4">Comprar</a>
        </div>
        <div class="user">
            <img src="../image/Tapabocas_de_tela_adidas_TALLA_XS-S_(PACK_DE_3)_(UNISEX)_Negro_H13185_01_laydown.jpg" alt="">
            <p>El cubrebocas o tapabocas es un utensilio esencial para evitar la contaminación microbiológica emitida por la boca y la nariz. Por ello, su principal función es impedir el contacto de estas cuando se manipulan alimentos u otros productos que puedan verse contaminados.</p>
            <a asp-area="" asp-controller="InfoProducto" asp-action="Producto5">Comprar</a>

        </div>
        <div class="user">
            <img src="../image/fumigadora.jpg" alt="">
            <p>Una fumigadora es una máquina agrícola encargada de fumigar zonas de terreno. La tarea de fumigar consiste en esparcir un compuesto plaguicida de diferentes formas, para proteger un cultivo o un terreno de agentes nocivos para el mismo.</p>
            <a asp-area="" asp-controller="InfoProducto" asp-action="Producto6">Comprar</a>

        </div>

        <div class="user">
            <img src="../image/cuaternario.jpg" alt="">
            <p>es un detergente desinfectante de alto poder germicida. No necesita enjuague.Es idóneo para ser usado en toda superficie lavable, tales como pisos, paredes, azulejos, espejos, sanitarios. Es recomendado para la desinfección diaria de baños, colegios, hospitales, geriátricos.</p>
            <a asp-area="" asp-controller="InfoProducto" asp-action="Producto7">Comprar</a>

        </div>
        <div class="user">
            <img src="../image/CHAQUETA.webp" alt="">
            <p>Chaqueta de protección completa para la piel de tus brazos, torso, cuello, nariz y boca. Acabado anti fluido en su tela que repele líquidos y salpicaduras, funcionando como una barrera protectora. El tapabocas de la chaqueta NO reemplaza el uso del tapabocas facial.</p>
            <a asp-area="" asp-controller="InfoProducto" asp-action="Producto8">Comprar</a>

        </div>
        <div class="user">
            <img src="../image/Tapete.jpg" alt="">
            <p>Tapete de desinfección en líquido está conformado por un perfil grueso que lo rodea para retener la solución desinfectante (17 mm de altura útil ) y capacidad de almacenamiento de 10 litros x m2, con ranuras acanaladas que complementan la desinfección.</p>
            <a asp-area="" asp-controller="InfoProducto" asp-action="Producto9  ">Comprar</a>

        </div>
    </div>
</div>