@{
    ViewData["Title"] = "Producto4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Vista_Genelar {
    <link rel="stylesheet" href="../css/buy.css">
    <link rel="stylesheet" href="../css/fonts.css">
}

<nav>
    <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="Index1">Inicio</a></li>
        <li><a asp-area="" asp-controller="Productos" asp-action="Catalogo1">Productos</a></li>
        <li><a asp-area="" asp-controller="QuienesSomos" asp-action="Index1">Quienes Somos</a></li>
        <li><a asp-area="" asp-controller="Contactenos" asp-action="Index1">Contactenos</a></li>
    </ul>
</nav>

<div class="menu">
    <span class="icon-menu"> Menu</span>
</div>

<div class="buy">

    <div class="image">
        <img src="../image/geles.jpg" alt="">
    </div>

    <div class="information">
        <h1>Gel Antibacterial</h1>
        <p>Gel antibacterial o alcohol en Gel presenta la manera más práctica de mantener una higiene a cualquier hora del día y en cualquier lugar. ... Mata gérmenes comunes sin agua o toalla, es un gel formulado para proporcionar una especial acción descontaminante y desinfectante sobre superficies.</p>
    </div>

    <div class="cart">
        <a href=""><span class="icon-cart"></span>Agregar al Carrito</a>
        <a href=""><span class="icon-credit-card"></span>Comprar</a>
    </div>

</div>

