<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EsmeraldaPLus</title>
    
    @RenderSection("Vista_Genelar", required: false)
</head>

<body>
    <header class="container-header">
        <div class="titulo"><h1>Esmeralda plus</h1></div>

        <div class="login">
            <a asp-area="" asp-controller="Home" asp-action="Index">Cerrar Sesion</a>
            <a asp-area="" asp-controller="Administrador" asp-action="Index">Administrador</a>
        </div>
    </header>
 
        @RenderBody()

    <footer class="footer">
        <div class="contacto">
            <div class="siguenos">
                <p>siguenos</p>
                <span class="icon-facebook"></span>
                <span class="icon-twitter"></span>
                <span class="icon-instagram"></span>
            </div>

            <div class="contactanos">
                <p>Contactanos</p>
                <a href="#">6852899</a>
                <a href="#">3214567899</a>
            </div>

        </div>
    </footer>
    @RenderSection("Scripts", required: false)
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</body>
</html>
