<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EsmeraldaPLus</title>
    @RenderSection("Vista_Genelar", required: false)

</head>
<body>
    
    @RenderBody()

    <script src="https://code.jquery.com/jquery-latest.js"></script>
    @RenderSection("Scripts", required: false)
    
</body>
</html>
