
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Vista_Genelar {
    <link rel="stylesheet" href="../css/mision_vision.css">
    <link rel="stylesheet" href="../css/fonts.css">
}

<nav>
    <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
        <li><a asp-area="" asp-controller="Productos" asp-action="Catalogo">Productos</a></li>
        <li><a asp-area="" asp-controller="QuienesSomos" asp-action="Index">Quienes Somos</a></li>
        <li><a asp-area="" asp-controller="Contactenos" asp-action="Index">Contactenos</a></li>
    </ul>
</nav>

<div class="menu">
    <span class="icon-menu"> Menu</span>
</div>

<div class="container_mv">
    <div class="mision">
        <h1>mision</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis explicabo fugiat odio corporis harum nulla officiis sed natus laudantium repudiandae excepturi, aut illo eveniet dolores. Quo eveniet, deserunt expedita reiciendis!
            Quae sit inventore aliquam sequi molestias reiciendis molestiae, quia qui ea maxime laborum, hic nobis modi placeat harum nesciunt unde rerum nulla accusamus! Enim quo, rem necessitatibus natus, ullam praesentium.
            Consequatur, dolorum impedit quidem esse, voluptatibus eveniet ad neque nobis fugit magnam excepturi ratione rem sed voluptatem temporibus in sunt incidunt numquam deleniti dolorem, quos? Aut, excepturi, ipsam. Rem, animi.
            Sequi magnam quod atque dolor id ipsa tenetur, quo ut impedit dignissimos voluptas eos optio at molestiae illo! Itaque quia temporibus dolorem aliquam ullam necessitatibus incidunt provident harum, doloribus adipisci.
            Quae provident reprehenderit quas non asperiores ex eos corporis, suscipit mollitia, nulla, porro officia iste, nemo voluptates. Expedita fugit incidunt nobis et, sint itaque, nostrum ea voluptates. Adipisci, officia, consectetur.
        </p>
    </div>

    <div class="vision">
        <h1>vision</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat facilis ab consequatur debitis laboriosam, odio saepe, minima aut, magnam dolorum atque sit nisi sunt amet ea. Qui architecto, amet quisquam!
            Labore a, molestiae. Fugit quia vero soluta id dolore est odio inventore autem, consectetur! Nisi consequuntur quisquam fugiat eveniet deserunt exercitationem delectus quibusdam, officiis, aliquid quaerat perspiciatis tempore voluptatum! Impedit!
            Aut autem iste, corrupti facere vel, est, debitis ducimus magni, officiis iure fuga? Perspiciatis molestias illo, illum fuga, et corporis animi dolorem obcaecati, aut sapiente ducimus dolores? Quaerat, sit officiis?
            Labore nam inventore consequuntur aperiam ipsum vel voluptate nisi ipsa ducimus nemo debitis provident eius iusto iure cum, totam nihil deleniti ea id nesciunt similique quisquam laboriosam. Ipsa inventore, eligendi!
            Rerum et neque pariatur eum, dolore laudantium eligendi facere odio repellat similique inventore aut dignissimos. Maiores, aliquid voluptate soluta assumenda commodi minus quod. Vero consequuntur dolor blanditiis sapiente quasi vitae.
        </p>
    </div>
</div>

